<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wine.dao.ExhibitionMapper">
  <resultMap id="BaseResultMap" type="com.wine.entity.Exhibition">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="time" jdbcType="DATE" property="time" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="flage" jdbcType="INTEGER" property="flage" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, time, phone, introduce, size, flage
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from exhibition
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from exhibition
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wine.entity.Exhibition">
    insert into exhibition (id, name, time, 
      phone, introduce, size, 
      flage)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{time,jdbcType=DATE}, 
      #{phone,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, 
      #{flage,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wine.entity.Exhibition">
    insert into exhibition
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="introduce != null">
        introduce,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="flage != null">
        flage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=DATE},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null">
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="flage != null">
        #{flage,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wine.entity.Exhibition">
    update exhibition
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=DATE},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null">
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="flage != null">
        flage = #{flage,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wine.entity.Exhibition">
    update exhibition
    set name = #{name,jdbcType=VARCHAR},
      time = #{time,jdbcType=DATE},
      phone = #{phone,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      size = #{size,jdbcType=INTEGER},
      flage = #{flage,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>